@import './variables.sass'

.section
    padding: 30px
    display: flex
    flex-flow: column wrap
    align-content: center
    width: 90%
    margin: 0 auto
    article
        border-radius: 10px
        background: $bg-secondary
        padding: 20px
        display: inline-block
        p
            max-width: 65ch
            font-weight: 500
            white-space: pre-line
        section
            h3
                color: $text-primary
                font-size: 1.8rem
                margin-bottom: 15px
                text-align: center

            a
                display: inline-block
                text-decoration: none
                text-decoration: none
                color: $text-primary
                padding: 10px 26px
                border-radius: 30px
                transition: background .3s
                font-weight: 900
                font-size: 1.1rem
                position: absolute
                top: 15px
                right: 15px
                &:hover
                    background: $bg-primary
