@import './variables.sass'

.section
    padding: 30px
    display: flex
    flex-flow: column wrap
    align-content: center
    width: 90%
    margin: 0 auto

    article
        border-radius: 10px
        background: $bg-secondary
        padding: 20px
        display: inline-block
        p
            max-width: 65ch
            font-weight: 600
            line-height: 1.4rem
            white-space: pre-line
            color: #ffffff

        section
            display: flex
            flex-flow: row wrap
            h3
                color: $text-secondary
                display: inline-block
                font-size: 1.8rem
                margin-bottom: 15px
                text-align: center
                margin: 0 auto

            a
                display: inline-block
                text-decoration: none
                text-decoration: none
                color: $text-primary
                padding: 10px 26px
                border-radius: 30px
                transition: background .3s
                font-weight: 900
                font-size: 1.1rem
                position: absolute
                top: 15px
                right: 15px
                &:hover
                    background: $bg-primary

@media screen and (max-width: 900px)
    .section
        width: 100%

@media screen and (max-width: 670px)
    .section
        article
            section
                flex-direction: column
                align-content: center
                a
                    position: static
