@import './variables'

.aside
    box-sizing: content-box
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: fixed
    right: 0
    bottom: 0
    height: 100vh
    width: 5%
    padding: 8px
    z-index: 2
    gap: 30px
    background: $bg-primary
    a
        text-decoration: none
        color: $text-secondary
        width: 25px
        img
            transition: transform .3s
            width: 25px
            &:hover
                transform: scale(1.4)

@media screen and (max-width: 900px)
    .aside
        position: fixed
        flex-direction: row
        left: 0
        bottom: 0
        height: 60px
        z-index: 1000
        width: 100%
